# Python
__pycache__/
*.pyc

# Env
venv/
.env

# Data & artifacts (do NOT commit data)
data/
*.csv
*.parquet
*.h5

# Models & checkpoints
models/
*.joblib
*.pkl

# Notebook checkpoints
.ipynb_checkpoints

# OS
.DS_Store
